# .gitignore

# Файлы зависимостей
__pycache__/
*.pyc

# Виртуальное окружение
venv/
.env

# Логи
logs/

# Модели и скейлеры
models/
scalers/

# Файлы данных
data/*.json
data/*.jsonl

# Другие временные файлы
*.log
